<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

      <form action="/insert_prompt" method="post">

        <div class="col-auto">
            <label for="desc_box" class="form-label"> <strong>Step 1: Choose a name to describe your template:</strong></label>
        </div>

        <div class="row align-items-center mb-3">

          <div class="col-md-3">
            <input id="desc_box" name="query_desc" type="text" class="form-control form-control-sm"> 
          </div>

          <div class="col-auto">
            <button title="Save" class="btn btn-outline-primary btn-sm"> <i class="bi bi-check-lg"></i> Save and continue </button>
          </div>

        </div>
      </form>

    </li>
  </ul>
</div>
