<div class="container py-5">
  <div class="row text-align-center justify-content-evenly d-flex align-items-center">

    <div class="col-auto mb-5">
      <h1 class="display-3"> Welcome, <%= @current_user.first_name %> </h1>
      <h1 class="lead mb-3"> Update your account </h1>
    </div>

    <div class="col-md-4 text-center">

      <div class="card mb-3">
        <div class="card-body">

          <form action="/modify_user" method="post">

              <div class="col-auto mb-3">
                <input id="email_box" name="query_email" type="text" class="form-control py-2" value="<%= @current_user.email %>"> 
              </div>

              <div class="col-auto mb-3">
                <input id="first_name_box" name="query_first_name" type="text" class="form-control py-2" value="<%= @current_user.first_name %>"> 
              </div>

              <div class="col-auto mb-3">
                <input id="last_name_box" name="query_last_name" type="text" class="form-control py-2" value="<%= @current_user.last_name %>"> 
              </div>

              <div class="col-auto mb-3">
                <input id="password_box" name="query_password" type="password" class="form-control py-2"> 
              </div>

              <div class="col-auto mb-3">
                <input id="password_confirmation_box" name="query_password_confirmation" type="password" class="form-control py-2" placeholder="Confirm your new password..."> 
              </div>

              <div class="col-auto mb-3">
                <button title="Update account" class="btn btn-primary me-3"> Update account </button>
                <a href="/" title="Cancel" class="btn btn-outline-danger"> Cancel </a>
              </div>

          </form>

        </div>
      </div>
    
    </div>

  </div>
</div>

<hr>
