
<div class="container py-5">
  <div class="row text-align-center justify-content-evenly d-flex align-items-center">

    <div class="col-auto mb-5">
      <h1 class="display-3"> <i class="bi bi-speedometer"></i> Turbo Prompts </h1>
      <h1 class="lead"> </i> Create personalized templates for Chat GPT prompts. </h1>
    </div>

    <div class="col-md-4 text-center">

      <div class="card mb-3">
        <div class="card-body">

          <form action="/insert_user" method="post">

              <div class="col-auto mb-3">
                <input id="email_box" name="query_email" type="text" class="form-control py-2" placeholder="Choose a email..."> 
              </div>

              <div class="col-auto mb-3">
                <input id="first_name_box" name="query_first_name" type="text" class="form-control py-2" placeholder="First name"> 
              </div>

              <div class="col-auto mb-3">
                <input id="last_name_box" name="query_last_name" type="text" class="form-control py-2" placeholder="Last name"> 
              </div>

              <div class="col-auto mb-3">
                <input id="password_box" name="query_password" type="password" class="form-control py-2" placeholder="Choose a password..."> 
              </div>

              <div class="col-auto mb-3">
                <input id="password_confirmation_box" name="query_password_confirmation" type="password" class="form-control py-2" placeholder="Confirm your password..."> 
              </div>

              <div class="col-auto">
                <button title="Create account" class="btn btn-success"> <i class="bi bi-plus-lg"></i> Create account </button>
              </div>

          </form>

          <hr>

          <p>Already have an account?</p>

          <a href="/user_sign_in" title="Log in" class="btn btn-primary"> <i class="bi bi-fingerprint"></i> Log in </a>

        </div>
      </div>
    
    </div>

  </div>
</div>

<hr>
